.basket {
  position: fixed;
  left: 0;
  right: 0;

  padding: 20px;
  width: 900px;
  max-height: 90vh;
  margin: 15px auto;

  text-align: right;
  background-color: $basket-bg;
  border-radius: 5px;

  overflow: auto;
}

.basket h2 {
  text-align: center;
}

.basket__close {
  position: absolute;
  right: 15px;
  top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $basket-close-bg;
  }

  &:hover path {
    fill: $basket-close-hover;
  }

  &:focus {
    outline: 1px solid $basket-close-bg;
    outline-offset: 1px;
  }
}

