.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 15px;
  margin-bottom: 15px;

  border-bottom: 1px solid $basket-item-border;
}

.basket-item__image {
  background-image: url("../img/decor/ellipse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}

.basket-item__inner-wrapper {
  margin-left: 50px;
  margin-right: auto;

  text-align: left;
}

.basket-item__title {
  margin-top: 0;

  text-transform: uppercase;
}

.basket-item__del {
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icons/del.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $bg-grey;
  }

  &:focus {
    outline: 1px solid $black;
    outline-offset: 1px;
  }
}

.basket-item__interactive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.basket-item__quantity {
  display: flex;
  align-items: center;
}

.basket-item__quantity label {
  margin-right: 20px;
}

.basket-item__change {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;
  border: 1px solid $basket-item-change-border;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basket-item-change-bg;
    outline: none;
  }

  &:hover path,
  &:focus path {
    stroke: $basket-item-change-hover;
  }

  &:active {
    opacity: 0.5;
  }

  &--minus {
    margin-right: -1px;
  }

  &--plus {
    margin-left: -1px;
  }
}

.basket-item__input {
  box-sizing: border-box;

  width: 40px;
  height: 30px;
  padding: 5px;

  text-align: center;

  border: 1px solid $basket-item-input-border;

  &:hover,
  &:focus {
    background-color: $basket-item-input-bg-hover;
    outline: none;
  }
}
