.button {
  box-sizing: border-box;

  padding: 5px;

  color: inherit;
  text-align: center;

  background-color: transparent;

  border: 1px solid $button-border;

  cursor: pointer;
  transition: color, background-color 0.1s linear;

  &:hover,
  &:focus {
    color: $white;

    background-color: $button-bg;
  }

  &:active {
    opacity: 0.5;
  }
}
