.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__logo {
  width: max-content;
  margin-bottom: 15px;

  &:focus {
    outline: 1px solid $white;
  }
}

.contacts__link {
  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid $white;
  }

  &:active {
    opacity: 0.5;
  }
}
