.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.page-header__logo {
  height: 20px;

  &:focus {
    outline: 1px solid $black;
    outline-offset: 5px;
  }
}

.page-header__cart {
  position: relative;

  width: 70px;
  height: 70px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/icons/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $bg-grey;
  }

  &:focus {
    outline: 1px solid $black;
    outline-offset: 1px;
  }
}