.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;

  color: $white;

  background-color: $footer-bg;
}

.page-footer a {
  color: inherit;
}