.product {
  display: flex;
  justify-content: center;
  align-items: start;

  min-width: 0;
}

.product__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, min-content);

  width: 500px !important;
  margin: 25px;

  border: 3px solid $product-border;

  &--only-one {
    width: 100%;
  }
}

.product__inner-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.product__title {
  text-transform: uppercase;
}

.product__button {
  width: 150px;
  margin-top: auto;

  border-color: $product-border;

  &:hover,
  &:focus {
    background-color: $product-bg;
  }
}

.product__image {
  background-image: url("../img/decor/ellipse.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product__description {
  position: relative;

  grid-column: 1/-1;

  display: flex;
  justify-content: space-between;
  padding: 15px;

  background-color: $product-bg;

  &--hidden {
    display: none;
  }
}

.product__description p {
  color: $white;
  margin-right: 15px;
}

.product__cart {
  flex-shrink: 0;

  width: 50px;
  height: 50px;
  padding: 0;

  background-color: transparent;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $product-bg-cart;
  }

  &:hover path {
    fill: $product-bg;
  }

  &:focus {
    outline: 1px solid $white;
    outline-offset: 1px;
  }
}

.product__question {
  position: absolute;
  right: 5px;
  top: 70px;

  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: $white;
  border: 1px solid $product-border;
  border-radius: 10px;

  &--hidden {
    display: none;
  }
}

.product__add,
.product__open-basket {
  margin: 5px;

  border-radius: 10px;

  border-color: $product-border;

  &:hover,
  &:focus {
    background-color: $product-bg;
  }
}