html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 1160px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color;
}

a {
  text-decoration: none;

  &[href="#"] {
    cursor: initial;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
