$black: #000000;
$white: #FFFFFF;
$text-color: #061B28;
$bg-grey: #F1F2F4;

$count-bg: #E6C8B4;

$button-border: #061B28;
$button-bg: #061B28;

$product-border: #444240;
$product-bg: #444240;
$product-bg-cart: #FFFFFF;
$product-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);

$footer-bg: #061B28;

$social-bg-grey: #CCCCCC;

$modal-bg: rgba(0, 0, 0, 0.8);
$basket-bg: #FFFFFF;
$basket-close-bg: #D75A4A;
$basket-close-hover: #FFFFFF;
$basket-item-border: #F1F2F4;
$basket-item-change-border: #061B28;
$basket-item-change-bg: #061B28;
$basket-item-change-hover: #FFFFFF;
$basket-item-input-border: #061B28;
$basket-item-input-bg-hover: #F1F2F4;

$short-message-bg-success: #76AE45;
$short-message-bg-error: #D75A4A;