$black: #000000;
$white: #FFFFFF;

$text-color: #061B28;
$bg-grey: #F1F2F4;

$product-border: #061B28;
$product-bg: #061B28;
$product-bg-cart: #FFFFFF;

$footer-bg: #061B28;

$social-bg-grey: #CCCCCC;