$black: #000000;
$white: #ffffff;
$text-color: #061b28;
$bg-grey: #f1f2f4;

$count-bg: #e6c8b4;

$button-border: #061b28;
$button-bg: #061b28;

$product-border: #444240;
$product-bg: #444240;
$product-bg-cart: #ffffff;
$product-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);

$footer-bg: #061b28;

$social-bg-grey: #cccccc;

$modal-bg: rgba(0, 0, 0, 0.8);
$basket-bg: #ffffff;
$basket-close-bg: #d75a4a;
$basket-close-hover: #ffffff;
$basket-item-border: #f1f2f4;
$basket-item-change-border: #061b28;
$basket-item-change-bg: #061b28;
$basket-item-change-hover: #ffffff;
$basket-item-input-border: #061b28;
$basket-item-input-bg-hover: #f1f2f4;

$short-message-bg-success: #76ae45;
$short-message-bg-error: #d75a4a;
